<footer>
    <section class="footer__area-common">
        <div class="container">
            <div class="footer__main">
                <div class="footer__grid">
                    <div class="footer__widget">
                        <div class="footer__logo mb-25">
                            <a href="index-2.html">
                                <img src="assets/imgs/logo/logo-white.svg" alt="logo not found">
                            </a>
                        </div>
                        <div class="footer__content">
                            <p>Lorem ipsum dolor am oledop consectetur adipisc.</p>
                            <div class="footer__social">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__widget">
                        <div class="footer__widget-title">
                            <h5>Use Cases</h5>
                        </div>
                        <div class="footer__link">
                            <ul>
                                <li><a href="#">SaaS</a></li>
                                <li><a href="#">Online Business</a></li>
                                <li><a href="#">Creators</a></li>
                                <li><a href="#">E-Commerce</a></li>
                                <li><a href="#">Agencies</a></li>
                                <li><a href="#">Secure</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__widget">
                        <div class="footer__widget-title">
                            <h5>Products</h5>
                        </div>
                        <div class="footer__link">
                            <ul>
                                <li><a href="#">Invoicing</a></li>
                                <li><a href="#">Office Hours</a></li>
                                <li><a href="#">Explore More</a></li>
                                <li><a href="#">Loan Type</a></li>
                                <li><a href="#">Calculate</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__widget">
                        <div class="footer__widget-title">
                            <h5>Newsletter</h5>
                        </div>
                        <div class="footer__newsletter">
                            <p>For latest Update subscribe us!</p>
                            <form action="https://html.bdevs.net/finwise-prev/assets/mail.php" method="POST">
                                <div class="footer__newsletter-from mb-25">
                                    <div class="footer__newsletter-input p-relative">
                                        <input type="text" placeholder="Enter Email">
                                        <button class="footer__round-btn" type="submit"><i class="fa-regular fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="footer__short-info">
                            <div class="info-icon">
                                <span><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <div class="info-content">
                                <p><a href="https://html.bdevs.net/cdn-cgi/l/email-protection#b3dbd6dfdfdcf3d5daddc4dac0d69dd0dcde"><span class="__cf_email__" data-cfemail="9cf4f9f0f0f3dcfaf5f2ebf5eff9b2fff3f1">[email&#160;protected]</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__copyright">
                    <p>Copyright © 2023 <a href="#">Finwise</a></p>
                </div>
                <div class="footer__conditions">
                    <ul>
                        <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                        <li><a [routerLink]="['/contact']">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
