<div class="fix">
    <div class="offcanvas__area">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="index-2.html">
                            <img src="assets/imgs/logo/logo-white.svg" alt="logo not found">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button class="offcanvas-close-icon animation--flip">
                            <span class="offcanvas-m-lines">
                          <span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="mobile-menu fix"></div>
                <div class="offcanvas__social">
                    <h3 class="offcanvas__title mb-20">Subscribe & Follow</h3>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="offcanvas__btn">
                    <div class="header__btn-wrap">
                        <a class="sub__btn sm" href="login.html">Log In</a>
                        <a class="bd-gradient-btn" href="contact.html">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>
<div class="offcanvas__overlay-white"></div>
<!-- Offcanvas area start -->

<!-- Header area start -->
<app-header></app-header>
<!-- Header area end -->

<!-- Body glow start -->
<div class="glow__area">
    <div class="body__color-glow"></div>
    <div class="body__color-glow glow-2"></div>
</div>
<!-- Body glow end -->

<!-- Body main wrapper start -->
<main>

    <!-- Breadcrumb area start  -->
    <div class="breadcrumb__area breadcrumb-space theme-bg-1 valign p-relative z-index-11 fix">
        <div class="breadcrumb__glow">
            <div class="glow-1"></div>
            <div class="glow-2"></div>
        </div>
        <div class="round__shape">
            <img src="assets/imgs/shapes/cercle.png" alt="image not found">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-8">
                    <div class="breadcrumb__title-wraper">
                        <span class="section__subtitle-7 mb-20 wow fadeIn" data-wow-delay=".3s">Services</span>
                        <h2 class="breadcrumb__title wow fadeIn" data-wow-delay=".5s">Secure Bank: Your<span
                       class="gradient-text-3">Trusted Financial Partner</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area start  -->

    <!-- Efficient area start -->
    <section class="mission__area o-xs section-space">
        <div class="container">
            <div class="row gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="efficient__thumb-wrapper p-relative wow fadeInLeft animated" data-wow-delay=".6s">
                        <div class="efficient__thumb">
                            <img src="assets/imgs/efficient/efficient-thumb.png" alt="image not found">
                        </div>
                        <div class="card-1">
                            <img src="assets/imgs/efficient/card-01.png" alt="image not found">
                        </div>
                        <div class="card-2">
                            <img src="assets/imgs/efficient/card-02.png" alt="image not found">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="efficient__content wow fadeInRight animated" data-wow-delay=".6s">
                        <div class="section__title-wrapper">
                            <span class="section__subtitle-7 mb-20">Efficient Banking</span>
                            <h2 class="section__title mb-20">Instant Banking at Your Fingertips.</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                            urna. <span class="text-color-1">Pellentesque</span> sit amet sapien fringilla, mattis ligula consecte.</p>
                        <div class="info__list">
                            <ul>
                                <li>Two-factor authentication</li>
                                <li>Regular password update</li>
                            </ul>
                        </div>
                        <div class="btn__wrapper">
                            <a class="bd-gradient-btn" href="service-details.html">Know More<span><i
                             class="fa-regular fa-angle-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Efficient area start -->

    <!-- Why Us area start -->
    <section class="why-us__area theme-bg-5 section-is-rounded section-space">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-xl-6 col-lg-6">
                    <div class="efficient__content">
                        <div class="section__title-wrapper text-center section__title-space">
                            <span class="section__subtitle-7 mb-20">Why Us</span>
                            <h2 class="section__title mb-20">Trusted Online Banking.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-50">
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <div class="why-us__item text-center wow fadeIn" data-wow-delay=".3s">
                        <div class="why-us__icon">
                            <span><i class="flaticon-settings"></i></span>
                        </div>
                        <div class="why-us__content">
                            <h4>Be Genuine</h4>
                            <p>Keep empathy and comsion central to everything.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <div class="why-us__item text-center is-mainly-red wow fadeIn" data-wow-delay=".5s">
                        <div class="why-us__icon">
                            <span><i class="flaticon-credit-card-1"></i></span>
                        </div>
                        <div class="why-us__content">
                            <h4>Invest in Growth</h4>
                            <p>Keep empathy and comsion central to everything.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <div class="why-us__item text-center is-mainly-pink wow fadeIn" data-wow-delay=".7s">
                        <div class="why-us__icon">
                            <span><i class="flaticon-lender"></i></span>
                        </div>
                        <div class="why-us__content">
                            <h4>Distil the SMS</h4>
                            <p>Keep empathy and comsion central to everything.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <div class="why-us__item text-center is-mainly-blue wow fadeIn" data-wow-delay=".9s">
                        <div class="why-us__icon">
                            <span><i class="flaticon-shield-1"></i></span>
                        </div>
                        <div class="why-us__content">
                            <h4>Take Action</h4>
                            <p>Keep empathy and comsion central to everything.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Us area end -->

    <!-- Payday area start -->
    <section class="payday__areas section-space">
        <div class="container">
            <div class="row gy-50 align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="payday__content wow fadeInLeft" data-wow-delay=".7s">
                        <div class="section__title-wrapper">
                            <span class="section__subtitle-7 mb-20">Early Payday</span>
                            <h2 class="section__title mb-20">Get Your Pay Check Up to 48 Hours</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                            urna. <span class="text-color-1">Pellentesque</span> sit amet sapien fringilla, mattis ligula
                            consecte.</p>
                        <div class="btn__wrapper">
                            <a class="bd-gradient-btn" href="service-details.html">Know More<span><i
                             class="fa-regular fa-angle-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="payday-wraper p-relative wow fadeIn" data-wow-delay="1s">
                        <div class="glow"></div>
                        <div class="payday__thumb-wrapper m-auto me-auto fix">
                            <div class="payday__thumb">
                                <img src="assets/imgs/payday/payday-thumb.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Payday area end -->

    <!-- Section devider start -->
    <div class="section__devider section-space-bottom">
        <div class="container">
            <hr>
        </div>
    </div>
    <!-- Section devider end -->

    <!-- FAQ area start -->
    <section class="faq__area section-space-bottom">
        <div class="container">
            <div class="row section__title-space justify-content-center">
                <div class="col-xxl-5 col-xl-5 col-lg-5">
                    <div class="section__title-wrapper text-center">
                        <span class="section__subtitle-7 mb-20">READ FAQ</span>
                        <h2 class="section__title">General Questions.</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center wow fadeInUp" data-wow-delay=".5s">
                <div class="col-xxl-8 col-xl-8 col-lg-10">
                    <div class="fap__style-2">
                        <div class="bd__faq">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span>Q.</span> What makes Finwise different?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                                                hendt urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                                                ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.
                                                Vestibulum auctor ornare leo, non suscipit magna interdum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <span>Q.</span> How does Finwise make money?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                                                hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula
                                                consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet
                                                augue.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <span>Q.</span> Why should I trust Finwise?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                                                hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula
                                                consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet
                                                augue.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <span>Q.</span> How does Finwise work?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                                                hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula
                                                consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet
                                                augue.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ area end -->

    <!-- Brand area start -->
    <div class="brand__area-6 theme-bg-1 section-rounded-60 section-space">
        <div class="container">
            <div class="swiper brnad__active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brand__item text-center">
                            <div class="brand__thumb">
                                <img src="assets/imgs/brand/brand-01.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item text-center">
                            <div class="brand__thumb">
                                <img src="assets/imgs/brand/brand-02.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item text-center">
                            <div class="brand__thumb">
                                <img src="assets/imgs/brand/brand-03.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item text-center">
                            <div class="brand__thumb">
                                <img src="assets/imgs/brand/brand-04.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item text-center">
                            <div class="brand__thumb">
                                <img src="assets/imgs/brand/brand-05.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item text-center">
                            <div class="brand__thumb">
                                <img src="assets/imgs/brand/brand-06.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item text-center">
                            <div class="brand__thumb">
                                <img src="assets/imgs/brand/brand-02.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand area end -->

</main>
<!-- Body main wrapper end -->

<app-footer></app-footer>