

    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

    <!-- Preloder start -->
    <!-- <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div> -->
    <!-- Preloder start -->

    <!-- Backtotop start -->
    <div class="backtotop-wrap cursor-pointer">
        <svg class="backtotop-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Backtotop end -->

    <!-- Offcanvas area start -->
    <div class="fix">
        <div class="offcanvas__area">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index-2.html">
                                <img src="assets/imgs/logo/logo-white.svg" alt="logo not found">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button class="offcanvas-close-icon animation--flip">
                                <span class="offcanvas-m-lines">
                              <span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="mobile-menu fix"></div>
                    <div class="offcanvas__social">
                        <h3 class="offcanvas__title mb-20">Subscribe & Follow</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="offcanvas__btn">
                        <div class="header__btn-wrap">
                            <a class="sub__btn sm" href="login.html">Log In</a>
                            <a class="bd-gradient-btn" href="contact.html">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>
    <div class="offcanvas__overlay-white"></div>
    <!-- Offcanvas area start -->

    <!-- Header area start -->
   <app-header></app-header>
    <!-- Header area end -->

    <!-- Body glow start -->
    <div class="glow__area">
        <div class="body__color-glow"></div>
        <div class="body__color-glow glow-2"></div>
    </div>
    <!-- Body glow end -->

    <!-- Body main wrapper start -->
    <main>

        <!-- Banner area start -->
        <section class="banner__area theme-bg-1 banner-3 p-relative z-index-11 fix">
            <div class="banner__glow-3">
                <div class="glow-1"></div>
                <div class="glow-2"></div>
            </div>
            <div class="container">
                <div class="row gy-50 align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="banner__content-3">
                            <span class="banner__sbutitle-3 uppercase mb-20">Explore finwise now</span>
                            <h2 class="cd-headline clip is-full-width banner__title-3">Experience our <br>
                                <span class="cd-words-wrapper">
                           <b class="is-hidden gradient-text-1">Personal Loan</b>
                           <b class="is-hidden gradient-text-1">Payday loan</b>
                           <b class="is-visible gradient-text-1">Instalment loan</b>
                         </span>
                            </h2>
                            <div class="info__list">
                                <ul>
                                    <li>Check your rate in just 5 minutes.</li>
                                    <li>Get funded in as fast as 1 business day.</li>
                                    <li>50% lower rates as compared to a credit.</li>
                                </ul>
                            </div>
                            <div class="btn__wrapper">
                                <a class="bd-gradient-btn" href="contact.html">Get Started<span><i class="fa-regular fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="banner__thumb-wrapper-3 p-relative z-index-11">
                            <div class="banner__thumb-3">
                                <img src="assets/imgs/banner/banner-03.png" alt="image not found">
                            </div>
                            <div class="banner__shape-1 d-none d-md-block" data-parallax='{"y": -100, "smoothness": 80}'>
                                <img src="assets/imgs/banner/shapes/banner-shape-1.png" alt="image not found">
                            </div>
                            <div class="banner__shape-2 d-none d-md-block" data-parallax='{"y": -100, "smoothness": 80}'>
                                <img src="assets/imgs/banner/shapes/banner-shape-2.png" alt="image not found">
                                <img class="line" src="assets/imgs/banner/shapes/line.png" alt="image not found">
                            </div>
                            <div class="banner__shape-3 d-none d-md-block">
                                <img src="assets/imgs/banner/shapes/banner-shape-3.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner area end -->

        <!-- Benefits area start -->
        <div class="benefits__area theme-bg-1 p-relative z-index-11 fix section-space-bottom">
            <div class="benefits__overlay"></div>
            <div class="container">
                <div class="row wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-xxl-12">
                        <div class="benefits__wrapper-box theme-bg-2">
                            <div class="swiper benefits__active">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="benefits__item text-center p-relative">
                                            <div class="benefits__icon">
                                                <span><i class="flaticon-chat"></i></span>
                                            </div>
                                            <div class="benefits__content">
                                                <h3 class="benefits__title">Flexible loan</h3>
                                                <p>Lorem ipsum dolor sit consectetur adipiscing elit Ut et massa</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="benefits__item is-brick-red text-center p-relative">
                                            <div class="benefits__icon">
                                                <span><i class="flaticon-financial"></i></span>
                                            </div>
                                            <div class="benefits__content">
                                                <h3 class="benefits__title">Fixed rates</h3>
                                                <p>Lorem ipsum dolor sit consectetur adipiscing elit Ut et massa</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="benefits__item is-deep-purple text-center p-relative">
                                            <div class="benefits__icon">
                                                <span><i class="flaticon-briefcase"></i></span>
                                            </div>
                                            <div class="benefits__content">
                                                <h3 class="benefits__title">No prepayment</h3>
                                                <p>Lorem ipsum dolor sit consectetur adipiscing elit Ut et massa</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- If we need pagination -->
                                <div class="benefits__pagination">
                                    <div class="bd-swiper-dot text-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Benefits area end -->

        <!-- About area start -->
        <section class="about__area o-xs theme-bg-1 section-space">
            <div class="container">
                <div class="row gy-50 align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="about__wrapper wow fadeInLeft" data-wow-delay=".3s">
                            <div class="about__thumb-2">
                                <img src="assets/imgs/about/about-02.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="about__content-2 wow fadeInRight" data-wow-delay=".3s">
                            <div class="section__title-wrapper mb-30">
                                <h5 class="section__subtitle-8 mb-20">
                                    <span>About us</span>
                                </h5>
                                <h2 class="section__title">Empowering Financial Freedom</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus massa mi.</p>
                            <div class="about__counter-wrapper">
                                <div class="about__counter-info">
                                    <div class="about__counter-count">
                                        <h2 class="counter">40</h2><span>K</span>
                                    </div>
                                    <p>Business <br>
                              partener</p>
                                </div>
                                <div class="about__counter-info">
                                    <div class="about__counter-count">
                                        <h2 class="counter">2</h2><span>M</span>
                                    </div>
                                    <p>Active <br>
                              Customer</p>
                                </div>
                            </div>
                            <div class="btn__wrapper">
                                <a class="bd-gradient-btn" href="about.html">Know More<span><i class="fa-regular fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About area end -->

        <!-- Loan type area start -->
        <section class="loan__type-area section-space">
            <div class="container">
                <div class="row gy-5 align-items-end section__title-space">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="section__title-wrapper">
                            <h5 class="section__subtitle-8 mb-20">
                                <span>LOAN TYPES</span>
                            </h5>
                            <h2 class="section__title">Explore Our Variety of Personal Loan</h2>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <!-- If we need navigation buttons -->
                        <div class="service__navigation justify-content-md-end">
                            <button class="loan__button-prev"><i class="fa-regular fa-angle-left"></i></button>
                            <button class="loan__button-next"><i class="fa-regular fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-xxl-12">
                        <div class="swiper loan__active">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="loan__item text-center">
                                        <div class="loan__icon">
                                            <span><i class="flaticon-chat"></i></span>
                                        </div>
                                        <div class="loan__content">
                                            <h3><a href="service-details.html">Personal Loan</a></h3>
                                            <p>Lorem ipsum dolor sit aconsectetur adipiscing elit Ut et massa Aliquam in hendrerit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="loan__item is-brick-red text-center">
                                        <div class="loan__icon">
                                            <span><i class="flaticon-financial"></i></span>
                                        </div>
                                        <div class="loan__content">
                                            <h3><a href="service-details.html">Instalment Loan</a></h3>
                                            <p>Lorem ipsum dolor sit aconsectetur adipiscing elit Ut et massa Aliquam in hendrerit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="loan__item is-deep-purple text-center">
                                        <div class="loan__icon">
                                            <span><i class="flaticon-briefcase"></i></span>
                                        </div>
                                        <div class="loan__content">
                                            <h3><a href="service-details.html">Payday loan</a></h3>
                                            <p>Lorem ipsum dolor sit aconsectetur adipiscing elit Ut et massa Aliquam in hendrerit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="pagination__wrappper">
                                <div class="bd-swiper-dot text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Loan type area end -->

        <!-- Loan area start -->
        <section class="loan__area section-space-bottom">
            <div class="container">
                <div class="loan__wrapper wow fadeInUp" data-wow-delay=".3s">
                    <div class="loan__form-wrapper">
                        <div class="loan__from-title">
                            <h3>Loan Calculator</h3>
                        </div>
                        <div class="loan__form">
                            <form action="#" method="POST">
                                <div class="loan__input-item">
                                    <div class="loan__input-title">
                                        <label>Select Loan Type*</label>
                                    </div>
                                    <div class="loan__select">
                                        <select>
                                            <option>Personal Loans</option>
                                            <option>Student Loans</option>
                                            <option>Business Loans</option>
                                            <option>Auto Loans</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="loan__input-item">
                                    <div class="loan__input">
                                        <div class="loan__input-title">
                                            <label for="loan-amount">How much Money you Need?*</label>
                                        </div>
                                        <div class="loan__range">
                                            <input type="text" id="loan-amount" class="loan-amount" readonly>
                                            <div class="loan-range-bar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="loan__input-item">
                                    <div class="loan__input-title">
                                        <label>How many Month you Need?*</label>
                                    </div>
                                    <div class="loan__select">
                                        <select>
                                            <option>10 Months</option>
                                            <option>12 Months</option>
                                            <option>18 Months</option>
                                            <option>24 Months</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="loan__notice">
                            <div class="loan__notice-content">
                                <span>You have to pay :</span>
                                <h3>$572 USD<span>/ Monthly</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="loan__thumb-wrapper">
                        <div class="loan__thumb">
                            <img src="assets/imgs/loan/loan-thumb.png" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Loan area end -->

        <!-- Trusted area start -->
        <section class="about__area o-xs theme-bg-1 section-space">
            <div class="container">
                <div class="row gy-50 align-items-center wow fadeInLeft animated" data-wow-delay=".3s">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="trusted__thumb-wrapper p-relative">
                            <div class="trusted__thumb">
                                <img src="assets/imgs/trusted/trusted-thumb.png" alt="image not found">
                            </div>
                            <div class="trusted__card">
                                <img src="assets/imgs/trusted/trusted-card.png" alt="image not found">
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="trusted__content wow fadeInRight animated" data-wow-delay=".3s">
                            <div class="section__title-wrapper mb-35">
                                <h5 class="section__subtitle-8 mb-20">
                                    <span>Most Trusted</span>
                                </h5>
                                <h2 class="section__title">Help to Responsibly Build Credit</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consecte.</p>
                            <div class="info__list">
                                <ul>
                                    <li>No annual fee</li>
                                    <li>Track spending set limits with a click</li>
                                </ul>
                            </div>
                            <div class="trusted__meta">
                                <a class="bd-gradient-btn" href="service-details.html">Know More<span><i class="fa-regular fa-angle-right"></i></span></a>
                                <div class="trusted__meta-thumb">
                                    <img src="assets/imgs/icons/trustpilot.png" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Trusted area end -->

        <!-- Section devider -->
        <div class="section__devider theme-bg-1">
            <div class="container">
                <hr>
            </div>
        </div>

        <!-- Working step area start -->
        <section class="work__step-area theme-bg-1 section-space">
            <div class="container">
                <div class="row justify-content-center section__title-space">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8">
                        <div class="section__title-wrapper text-center">
                            <h5 class="section__subtitle-8 mb-20">
                                <span>Working Steps</span>
                            </h5>
                            <h2 class="section__title">Simple Steps to Get a Personal Loan</h2>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-xxl-12">
                        <div class="work__steps-main">
                            <div class="row g-5">
                                <div class="col-xxl-4 col-xl-4 col-lg-4">
                                    <div class="working__step-item text-center">
                                        <div class="working__step-round">
                                            <span>01</span>
                                        </div>
                                        <div class="working__step-content">
                                            <h3>Check rate</h3>
                                            <p>Fill out a form to check your rate in minutes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4">
                                    <div class="working__step-item is-mainly-red text-center">
                                        <div class="working__step-round">
                                            <span>02</span>
                                        </div>
                                        <div class="working__step-content">
                                            <h3>Verify information</h3>
                                            <p>90% of loans are fully automated</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4">
                                    <div class="working__step-item is-mainly-blue text-center">
                                        <div class="working__step-round">
                                            <span>03</span>
                                        </div>
                                        <div class="working__step-content">
                                            <h3>Get money</h3>
                                            <p>99% of funds are sent just 1 business day</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Working step area end -->

        <!-- Feedback area start -->
        <section class="feedback__area fix section-space">
            <div class="container p-relative">
                <div class="row gy-50 wow fadeInUp" data-wow-delay=".5s">
                    <div class="col-xxl-4 col-xl-5 col-lg-5">
                        <div class="testimaonial__intro">
                            <div class="section__title-wrapper mb-25">
                                <h5 class="section__subtitle-8 mb-20">
                                    <span>Testimonials</span>
                                </h5>
                                <h2 class="section__title">Read our Clients Feedback</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi</p>
                            <div class="btn__wrapper">
                                <a class="bd-gradient-btn" href="about.html">Know More<span><i class="fa-regular fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-7 col-lg-7">
                        <div class="swiper feedback__active-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="feedback__item-2 p-relative">
                                        <div class="feedback__content-2">
                                            <div class="feedback__author-2">
                                                <div class="feedback__author-thumb-2">
                                                    <img src="assets/imgs/user/user-01.png" alt="image not found">
                                                </div>
                                                <div class="feedback__author-info">
                                                    <h4>Eiola J. Farr</h4>
                                                </div>
                                                <div class="testimonial__reating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quimperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentes.</p>
                                        </div>
                                        <div class="feedback__quote">
                                            <svg width="150" height="115" viewBox="0 0 150 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.06" d="M136.517 9.30147C144.944 18.6029 150 28.75 150 45.6618C150 75.2573 128.933 101.471 99.4382 115L91.8539 104.007C119.663 88.7868 125.562 69.3382 127.247 56.6544C123.034 59.1912 117.135 60.0368 111.236 59.1912C96.0674 57.5 84.2697 45.6618 84.2697 29.5956C84.2697 21.9853 87.6405 14.375 92.6966 8.45588C98.5955 2.53676 105.337 0 113.764 0C123.034 0 131.461 4.22794 136.517 9.30147ZM52.2472 9.30147C60.6742 18.6029 65.7303 28.75 65.7303 45.6618C65.7303 75.2573 44.6629 101.471 15.1685 115L7.58427 104.007C35.3933 88.7868 41.2921 69.3382 42.9775 56.6544C38.764 59.1912 32.8652 60.0368 26.9663 59.1912C11.7978 57.5 0 44.8162 0 29.5956C0 21.9853 3.37079 14.375 8.42697 8.45588C14.3258 2.53676 21.0674 0 29.4944 0C38.764 0 47.191 4.22794 52.2472 9.30147Z" fill="white" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feedback__item-2 p-relative">
                                        <div class="feedback__content-2">
                                            <div class="feedback__author-2">
                                                <div class="feedback__author-thumb-2">
                                                    <img src="assets/imgs/user/user-02.png" alt="image not found">
                                                </div>
                                                <div class="feedback__author-info">
                                                    <h4>Evelyn S. Moore</h4>
                                                </div>
                                                <div class="testimonial__reating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quimperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentes.</p>
                                        </div>
                                        <div class="feedback__quote">
                                            <svg width="150" height="115" viewBox="0 0 150 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.06" d="M136.517 9.30147C144.944 18.6029 150 28.75 150 45.6618C150 75.2573 128.933 101.471 99.4382 115L91.8539 104.007C119.663 88.7868 125.562 69.3382 127.247 56.6544C123.034 59.1912 117.135 60.0368 111.236 59.1912C96.0674 57.5 84.2697 45.6618 84.2697 29.5956C84.2697 21.9853 87.6405 14.375 92.6966 8.45588C98.5955 2.53676 105.337 0 113.764 0C123.034 0 131.461 4.22794 136.517 9.30147ZM52.2472 9.30147C60.6742 18.6029 65.7303 28.75 65.7303 45.6618C65.7303 75.2573 44.6629 101.471 15.1685 115L7.58427 104.007C35.3933 88.7868 41.2921 69.3382 42.9775 56.6544C38.764 59.1912 32.8652 60.0368 26.9663 59.1912C11.7978 57.5 0 44.8162 0 29.5956C0 21.9853 3.37079 14.375 8.42697 8.45588C14.3258 2.53676 21.0674 0 29.4944 0C38.764 0 47.191 4.22794 52.2472 9.30147Z" fill="white" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feedback__item-2 p-relative">
                                        <div class="feedback__content-2">
                                            <div class="feedback__author-2">
                                                <div class="feedback__author-thumb-2">
                                                    <img src="assets/imgs/user/user-03.png" alt="image not found">
                                                </div>
                                                <div class="feedback__author-info">
                                                    <h4>Adam K. Stein</h4>
                                                </div>
                                                <div class="testimonial__reating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quimperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentes.</p>
                                        </div>
                                        <div class="feedback__quote">
                                            <svg width="150" height="115" viewBox="0 0 150 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.06" d="M136.517 9.30147C144.944 18.6029 150 28.75 150 45.6618C150 75.2573 128.933 101.471 99.4382 115L91.8539 104.007C119.663 88.7868 125.562 69.3382 127.247 56.6544C123.034 59.1912 117.135 60.0368 111.236 59.1912C96.0674 57.5 84.2697 45.6618 84.2697 29.5956C84.2697 21.9853 87.6405 14.375 92.6966 8.45588C98.5955 2.53676 105.337 0 113.764 0C123.034 0 131.461 4.22794 136.517 9.30147ZM52.2472 9.30147C60.6742 18.6029 65.7303 28.75 65.7303 45.6618C65.7303 75.2573 44.6629 101.471 15.1685 115L7.58427 104.007C35.3933 88.7868 41.2921 69.3382 42.9775 56.6544C38.764 59.1912 32.8652 60.0368 26.9663 59.1912C11.7978 57.5 0 44.8162 0 29.5956C0 21.9853 3.37079 14.375 8.42697 8.45588C14.3258 2.53676 21.0674 0 29.4944 0C38.764 0 47.191 4.22794 52.2472 9.30147Z" fill="white" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="feedback__navigation-2 justify-content-md-end">
                                <button class="feedback__button-prev-2"><i class="fa-regular fa-angle-left"></i></button>
                                <button class="feedback__button-next-2"><i class="fa-regular fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feedback area end -->

        <div class="welcone-bg p-relative z-index-11">
            <!-- welcome area start -->
            <div class="welcome__area">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="welcome__wrapper p-relative">
                                <div class="welcome__thumb-bg">
                                </div>
                                <div class="welcome__app">
                                    <img src="assets/imgs/bg/welcome-app.png" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- welcome area end -->

            <!-- Contact area start -->
            <section class="contact__area">
                <div class="container">
                    <div class="contact__main-wrapper">
                        <div class="row gy-50">
                            <div class="col-xxl-5 col-xl-6 col-lg-6">
                                <div class="contact__content-2">
                                    <div class="section__title-wrapper is-black mb-20">
                                        <h2 class="section__title">Read our Clients Feedback</h2>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi</p>
                                    <div class="contact__info-wrapper">
                                        <div class="footer__contact-info-item">
                                            <div class="footer__contact-info-icon">
                                                <span><i class="fa-solid fa-envelope"></i></span>
                                            </div>
                                            <div class="footer__contact-info-content">
                                                <p data-info="mail"><a href="https://html.bdevs.net/cdn-cgi/l/email-protection#fc9499909093bc9a95928b958f99d29f9391"><span class="__cf_email__" data-cfemail="a1c9c4cdcdcee1c7c8cfd6c8d2c48fc2cecc">[email&#160;protected]</span></a></p>
                                            </div>
                                        </div>
                                        <div class="footer__contact-info-item">
                                            <div class="footer__contact-info-icon">
                                                <span><i class="fa-solid fa-phone"></i></span>
                                            </div>
                                            <div class="footer__contact-info-content">
                                                <p><a href="tel:90652-74101">(510) 90652-74101</a></p>
                                            </div>
                                        </div>
                                        <div class="footer__contact-info-item">
                                            <div class="footer__contact-info-icon">
                                                <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                                            </div>
                                            <div class="footer__contact-info-content">
                                                <div class="contact__social-wrapper">
                                                    <div class="footer__contact-info-content">
                                                        <p>
                                                            <a href="https://www.google.com/maps/place/New+York,+NY,+USA/@40.6976637,-74.1197638,11z/data=!3m1!4b1!4m6!3m5!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728!16zL20vMDJfMjg2" target="_blank">
                                                                5095 Telegraph Ave,Oakland
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-7 col-xl-6 col-lg-6">
                                <div class="contact__form">
                                    <form id="contact-form" action="https://html.bdevs.net/finwise-prev/assets/mail.php" method="POST">
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <div class="contact__input-2">
                                                    <input type="text" placeholder="Enter Name">
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <div class="contact__input-2">
                                                    <input type="text" placeholder="Enter Email">
                                                </div>
                                            </div>
                                            <div class="col-xxl-12 col-xl-12 col-lg-12">
                                                <div class="contact__input-2">
                                                    <textarea name="message" placeholder="Your message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-xxl-12 col-xl-12 col-lg-12">
                                                <div class="contact__button">
                                                    <button type="submit" class="bd-gradient-btn">Submit Now<span><i class="fa-regular fa-angle-right"></i></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact area end -->
        </div>

    </main>
    <!-- Body main wrapper end -->

    <!-- Footer area start -->
    <app-footer></app-footer>
    <!-- Footer area end -->

  