

    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

    <!-- Preloder start -->
    <!-- <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div> -->
    <!-- Preloder start -->

    <!-- Backtotop start -->
    <div class="backtotop-wrap cursor-pointer ">
        <svg class="backtotop-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Backtotop end -->

    <!-- Offcanvas area start -->
    <div class="fix">
        <div class="offcanvas__area">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index-2.html">
                                <img src="assets/imgs/logo/logo-white.svg" alt="logo not found">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button class="offcanvas-close-icon animation--flip">
                                <span class="offcanvas-m-lines">
                              <span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="mobile-menu fix"></div>
                    <div class="offcanvas__social">
                        <h3 class="offcanvas__title mb-20">Subscribe & Follow</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="offcanvas__btn">
                        <div class="header__btn-wrap">
                            <a class="sub__btn sm" href="login.html">Log In</a>
                            <a class="bd-gradient-btn" href="contact.html">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>
    <div class="offcanvas__overlay-white"></div>
    <!-- Offcanvas area start -->

    <!-- Header area start -->
    <app-header></app-header>
    <!-- Header area end -->

    <!-- Body glow start -->
    <div class="glow__area">
        <div class="body__color-glow"></div>
        <div class="body__color-glow glow-2"></div>
    </div>
    <!-- Body glow end -->

    <!-- Body main wrapper start -->
    <main>

        <!-- Breadcrumb area start  -->
        <div class="breadcrumb__area breadcrumb-space theme-bg-1 valign p-relative z-index-11 fix">
            <div class="breadcrumb__glow">
                <div class="glow-1"></div>
                <div class="glow-2"></div>
            </div>
            <div class="round__shape">
                <img src="assets/imgs/shapes/cercle.png" alt="image not found">
            </div>
            <div class="container">
                <div class="row gy-50 align-items-center justify-content-between">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="breadcrumb__title-wraper">
                            <span class="section__subtitle-7 mb-20">Privacy & Policy</span>
                            <h2 class="breadcrumb__title">Safeguarding Your Data and Experience<span class="gradient-text-3"></span></h2>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-6">
                        <div class="breadcrumb__description">
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb area start  -->

        <!-- Policy privacy area start -->
        <section class="Policy-privacy__area section-space">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4">
                        <div class="tabs__nav-boxed bd-sticky-top">
                            <ul class="nav tabs__nav-boxed-inner" role="tablist">
                                <li role="presentation">
                                    <button class="active" data-bs-toggle="tab" data-bs-target="#tab__privacy-policy" type="button" role="tab" aria-selected="true">
                                        <span class="policy__tab-content">
                                 <span>Privacy & Policy</span>
                                        <span><i class="fa-regular fa-arrow-right-long"></i></span>
                                        </span>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button data-bs-toggle="tab" data-bs-target="#tab__terms-conditions" type="button" role="tab" aria-selected="false">
                                        <span class="policy__tab-content">
                                 <span>Terms & Conditions</span>
                                        <span><i class="fa-regular fa-arrow-right-long"></i></span>
                                        </span>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button data-bs-toggle="tab" data-bs-target="#cookies" type="button" role="tab" aria-selected="false">
                                        <span class="policy__tab-content">
                                 <span>Cookies</span>
                                        <span><i class="fa-regular fa-arrow-right-long"></i></span>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab__privacy-policy" role="tabpanel">
                                <div class="terms__conditions-content">
                                    <div class="privacy__item">
                                        <h2 class="section__title mb-30">Privacy Policy Agreement</h2>
                                        <p>
                                            Companies or websites that handle customer information are required by law and third parties to publish their Privacy Policies on their business websites. If you own a website, web app, mobile app or
                                            <a class="link" href="#!">desktop app</a> that collects or processes user data, you most certainly will have to post a Privacy Policy on your website (or give in-app access to the full Privacy Policy
                                            agreement).
                                        </p>
                                        <p>
                                            Privacy is not a new concept. Humans have always desired privacy in their social as well as private lives. But the idea of privacy as a human right is a relatively modern phenomenon.
                                        </p>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Here are some of the main reasons:</h3>
                                        <ul class="icon__list">
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">Required by the law</span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">Required by third party services</span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">Increases Transparency</span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">Let's take a look at each of these reasons in more depth.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">What we collect</h3>
                                        <p>
                                            Apart from governing laws, some websites like Apple, Amazon, and <a class="link" href="#!">Google require website</a> and app owners to post a Privacy Policy agreement if they use any of their services.
                                            Many websites and apps use in-page/in-app advertising by third parties to generate revenue. As these ads also collect user data, third parties require the websites or apps to ask their users' permission
                                            for sharing their personal data.
                                        </p>
                                        <p>
                                            Some of the most popular third party services require website and app owners to post Privacy Policy agreements on their websites. Some of these services include:
                                        </p>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Best terms and conditions page possible :</h3>
                                        <ul class="icon__list">
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">
                                          <strong>Abusive users :</strong> Terms and Conditions agreements allow you to establish what constitutes appropriate activity on your site or app, empowering you to remove abusive users and
                                          content
                                       </span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">
                                          <strong>Intellectual property theft : </strong> Asserting your claim to the creative assets of your site in your terms and conditions will prevent ownership disputes and copyright infringement.
                                       </span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">
                                          <strong>Potential litigation :</strong> If a user lodges a legal complaint against your business, showing that they were presented with clear terms and conditions before they used .
                                       </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">To Set Liabilities Limits</h3>
                                        <p>
                                            Almost every terms and conditions agreement has a warranty or limitations of liability disclaimer. We’ll cover it in more detail in our section about what
                                            <a class="link" href="#!">clauses to include in your terms and conditions</a>, but this clause essentially limits what customers can hold you liable for.
                                        </p>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Most companies restrict liability for:</h3>
                                        <ul class="icon__list">
                                            <li>
                                                <span class="list__item-text">1. Inaccuracies and errors</span>
                                            </li>
                                            <li>
                                                <span class="list__item-text">2. Lack of enjoyment</span>
                                            </li>
                                            <li>
                                                <span class="list__item-text">3. Product or website downtime</span>
                                            </li>
                                            <li>
                                                <span class="list__item-text">4. Viruses, spyware, and product damage</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Questions, comments, or report of incidents</h3>
                                        <p class="mb-1">
                                            You may direct questions, comments or reports to:
                                        </p>
                                        <p>
                                            <a class="author_mail" href="https://html.bdevs.net/cdn-cgi/l/email-protection#d8b0b7afbca198beb1b6afb1abbdf6bbb7b5"><span class="__cf_email__" data-cfemail="244c4b53405d64424d4a534d57410a474b49">[email&#160;protected]</span></a>
                                        </p>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Reheaders to this privacy policy without notice</h3>
                                        <p class="mb-0">
                                            This Privacy Policy is dynamic. It will continually change. You may not assume that it remains the same and you agree to check the policy each time you visit the site for changes. Unless, in the sole
                                            opinion of the website, this policy changes so drastically as to suggest a posted notification on the site or via email, you will receive no notification of changes to this Privacy Policy nor, under any
                                            circumstances, does this site promise notification. Your continued use of this site always evidences your acceptance of the terms this Privacy Policy or any modifications.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab__terms-conditions" role="tabpanel">
                                <div class="terms__conditions-content">
                                    <h3 class="section__title">Terms and Conditions Agreement</h3>
                                    <p>
                                        A terms and conditions agreement outlines the website administrator’s rules regarding user behaviour and provides information about the actions the website administrator can and will perform. Essentially,
                                        your terms and conditions text is a <a class="link" href="#!">contract between your website and its users</a>. In the event of a legal dispute, arbitrators will look at it to determine whether each party
                                        acted within their rights.
                                    </p>
                                    <p>
                                        Condition is not a new concept. Humans have always desired privacy in their social as well as private lives. But the idea of privacy as a human right is a relatively modern phenomenon.
                                    </p>
                                    <h3 class="info__title">Here are some of the main reasons:</h3>
                                    <ul class="icon__list">
                                        <li>
                                            <span class="list_item_icon">
                                       <i class="fas fa-circle"></i>
                                 </span>
                                            <span class="list__item-text">
                                       <strong> Abusive users:</strong> Terms and Conditions agreements allow you to establish what constitutes appropriate activity on your site or app, empowering you to remove abusive users and content
                                 </span>
                                        </li>
                                        <li>
                                            <span class="list_item_icon">
                                       <i class="fas fa-circle"></i>
                                 </span>
                                            <span class="list__item-text">
                                       <strong>Intellectual property theft:</strong> Asserting your claim to the creative assets of your site in your terms and conditions will prevent ownership disputes and copyright infringement.
                                 </span>
                                        </li>
                                        <li>
                                            <span class="list_item_icon">
                                       <i class="fas fa-circle"></i>
                                 </span>
                                            <span class="list__item-text">
                                       <strong>Potential litigation:</strong> If a user lodges a legal complaint against your business, showing that they were presented with clear terms and conditions before they used your site will help
                                       you immensely in court.
                                 </span>
                                        </li>
                                    </ul>
                                    <h3 class="info__title">To Set Liabilities Limits</h3>
                                    <p>
                                        Almost every terms and conditions agreement has a warranty or limitations of liability disclaimer. We’ll cover it in more detail in our section about
                                        <a class="link" href="#!">what clauses to include in your terms and conditions</a>, but this clause essentially limits what customers can hold you liable for.
                                    </p>
                                    <h3 class="info__title">Most companies restrict liability for:</h3>
                                    <ul class="icon__list">
                                        <li>
                                            <span class="list__item-text">
                                       1. Inaccuracies and errors
                                 </span>
                                        </li>
                                        <li>
                                            <span class="list__item-text">
                                       2. Lack of enjoyment
                                 </span>
                                        </li>
                                        <li>
                                            <span class="list__item-text">
                                       3. Product or website downtime
                                 </span>
                                        </li>
                                        <li>
                                            <span class="list__item-text">
                                       4. Viruses, spyware, and product damage
                                 </span>
                                        </li>
                                    </ul>
                                    <h3 class="info__title">To Outline Policies and Avoid Abusive Behavior</h3>
                                    <p class="mb-1">
                                        You may direct questions, comments or reports to:
                                    </p>
                                    <p>
                                        <a class="author_mail" href="https://html.bdevs.net/cdn-cgi/l/email-protection#5830372f3c211828392a393c3720763b3735"><span class="__cf_email__" data-cfemail="fa92958d9e83ba8a9b889b9e9582d4999597">[email&#160;protected]</span></a>
                                    </p>
                                    <h3 class="info__title">Reheaders to this Teams & Condition without Notice</h3>
                                    <p class="mb-0">
                                        This Privacy Policy is dynamic. It will continually change. You may not assume that it remains the same and you agree to check the policy each time you visit the site for changes. Unless, in the sole opinion
                                        of the website, this policy changes so drastically as to suggest a posted notification on the site or via email, you will receive no notification of changes to this Privacy Policy nor, under any
                                        circumstances, does this site promise notification. Your continued use of this site always evidences your acceptance of the terms this Privacy Policy or any modifications.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="cookies" role="tabpanel">
                                <div class="terms__conditions-content">
                                    <div class="privacy__item">
                                        <h3 class="section__title mb-30">Privacy Policy Agreement</h3>
                                        <p>
                                            Companies or websites that handle customer information are required by law and third parties to publish their Privacy Policies on their business websites. If you own a website, web app, mobile app or
                                            <a class="link" href="#!">desktop app</a> that collects or processes user data, you most certainly will have to post a Privacy Policy on your website (or give in-app access to the full Privacy Policy
                                            agreement).
                                        </p>
                                        <p>
                                            Privacy is not a new concept. Humans have always desired privacy in their social as well as private lives. But the idea of privacy as a human right is a relatively modern phenomenon.
                                        </p>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Here are some of the main reasons:</h3>
                                        <ul class="icon__list">
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">Required by the law</span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">Required by third party services</span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">Increases Transparency</span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">Let's take a look at each of these reasons in more depth.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">What we collect</h3>
                                        <p>
                                            Apart from governing laws, some websites like Apple, Amazon, and <a class="link" href="#!">Google require website</a> and app owners to post a Privacy Policy agreement if they use any of their services.
                                            Many websites and apps use in-page/in-app advertising by third parties to generate revenue. As these ads also collect user data, third parties require the websites or apps to ask their users' permission
                                            for sharing their personal data.
                                        </p>
                                        <p>
                                            Some of the most popular third party services require website and app owners to post Privacy Policy agreements on their websites. Some of these services include:
                                        </p>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Best terms and conditions page possible :</h3>
                                        <ul class="icon__list">
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">
                                          <strong>Abusive users :</strong> Terms and Conditions agreements allow you to establish what constitutes appropriate activity on your site or app, empowering you to remove abusive users and
                                          content
                                       </span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">
                                          <strong>Intellectual property theft : </strong> Asserting your claim to the creative assets of your site in your terms and conditions will prevent ownership disputes and copyright infringement.
                                       </span>
                                            </li>
                                            <li>
                                                <span class="list_item_icon">
                                          <i class="fas fa-circle"></i>
                                       </span>
                                                <span class="list__item-text">
                                          <strong>Potential litigation :</strong> If a user lodges a legal complaint against your business, showing that they were presented with clear terms and conditions before they used .
                                       </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">To Set Liabilities Limits</h3>
                                        <p>
                                            Almost every terms and conditions agreement has a warranty or limitations of liability disclaimer. We’ll cover it in more detail in our section about what
                                            <a class="link" href="#!">clauses to include in your terms and conditions</a>, but this clause essentially limits what customers can hold you liable for.
                                        </p>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Most companies restrict liability for:</h3>
                                        <ul class="icon__list">
                                            <li>
                                                <span class="list__item-text">1. Inaccuracies and errors</span>
                                            </li>
                                            <li>
                                                <span class="list__item-text">2. Lack of enjoyment</span>
                                            </li>
                                            <li>
                                                <span class="list__item-text">3. Product or website downtime</span>
                                            </li>
                                            <li>
                                                <span class="list__item-text">4. Viruses, spyware, and product damage</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Questions, comments, or report of incidents</h3>
                                        <p class="mb-1">
                                            You may direct questions, comments or reports to:
                                        </p>
                                        <p>
                                            <a class="author_mail" href="https://html.bdevs.net/cdn-cgi/l/email-protection#5c34332b38251c3e29303039723f3331"><span class="__cf_email__" data-cfemail="1870776f7c61587a6d74747d367b7775">[email&#160;protected]</span></a>
                                        </p>
                                    </div>
                                    <div class="privacy__item">
                                        <h3 class="info__title">Reheaders to this privacy policy without notice</h3>
                                        <p class="mb-0">
                                            This Privacy Policy is dynamic. It will continually change. You may not assume that it remains the same and you agree to check the policy each time you visit the site for changes. Unless, in the sole
                                            opinion of the website, this policy changes so drastically as to suggest a posted notification on the site or via email, you will receive no notification of changes to this Privacy Policy nor, under any
                                            circumstances, does this site promise notification. Your continued use of this site always evidences your acceptance of the terms this Privacy Policy or any modifications.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Policy privacy area end -->


        <!-- Brand area start -->
        <div class="brand__area-6 theme-bg-1 section-rounded-60 section-space">
            <div class="container">
                <div class="swiper brnad__active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brand__item text-center">
                                <div class="brand__thumb">
                                    <img src="assets/imgs/brand/brand-01.png" alt="image not found">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item text-center">
                                <div class="brand__thumb">
                                    <img src="assets/imgs/brand/brand-02.png" alt="image not found">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item text-center">
                                <div class="brand__thumb">
                                    <img src="assets/imgs/brand/brand-03.png" alt="image not found">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item text-center">
                                <div class="brand__thumb">
                                    <img src="assets/imgs/brand/brand-04.png" alt="image not found">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item text-center">
                                <div class="brand__thumb">
                                    <img src="assets/imgs/brand/brand-05.png" alt="image not found">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item text-center">
                                <div class="brand__thumb">
                                    <img src="assets/imgs/brand/brand-06.png" alt="image not found">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item text-center">
                                <div class="brand__thumb">
                                    <img src="assets/imgs/brand/brand-02.png" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand area end -->

    </main>
    <!-- Body main wrapper end -->

    <!-- Footer area start -->
    <app-footer></app-footer>
    <!-- Footer area end -->

  
